@model Portaria.Core.Model.CadastroMorador.Bloco

@{
    ViewBag.Title = "Excluír Bloco";
}

<h2>Excluír Bloco</h2>

<h3>Você tem certeza que deseja excluír o bloco @Html.DisplayFor(model => model.Nome) ?</h3>
<div>
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Excluír" class="btn btn-default" /> |
            @Html.ActionLink("Voltar para a lista", "Index")
        </div>
    }
</div>
