@model Portaria.Core.Model.Usuario

@{
    ViewBag.Title = "LogIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>LogIn</h2>

@using (Html.BeginForm("Login", "Usuario", FormMethod.Post, new { id = "loginForm" }))
{
    @Html.ValidationSummary(true, "Login falhou");
    
    <body class="login-content">
        <div class="lc-block toggled" id="l-login">
            Bem vindo ao Portaria Digital !
            <div class="input-group m-b-20">
                <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                <div class="fg-line">
                    @Html.TextBoxFor( u => u.Login, new { @class="form-control", placeholder="login" })
                </div>
            </div>

            <div class="input-group m-b-20">
                <span class="input-group-addon"><i class="zmdi zmdi-male"></i></span>
                <div class="fg-line">
                    @Html.PasswordFor( u => u.Senha, new { @class="form-control", placeholder="senha" })
                </div>
            </div>

            <div class="clearfix"></div>
            <input type="submit" style="visibility: hidden;" />
            <a href="#" id="submit_link" class="btn btn-login btn-danger btn-float" onclick="loginForm.submit();"><i class="zmdi zmdi-arrow-forward"></i></a>
        </div>
    </body>
}
